#navbar-logo-tech {
  width: 60px;
  height: 80px;
  border-radius: 100%;
}
.menu-items {
  width: 50%;
  /* background: red; */
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.menu-item {
  color: #716f81;
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}

.navbar-login-btn-text {
  color: #716f81;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none;
}

@media only screen and (max-width: 800px) {
  .menu-items {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
}
