.big-boss-container{
    display: flex;
    flex-direction: column;
    background-color: #37475A;
    height: 157px;
    margin-top: 500px;
    justify-content: flex-end;
    align-items: center;
}
.footer-container{  
    display: flex;
   
}
.sub-container{
    display: flex;
    height: 50px;
    background-color: #232F3E;
    width: 100vw;
    justify-content:  space-around;
    padding-top: 5px;
}
.copy-rights{
    display: flex;
    color: white;
}
