.big-boss-container{
   display: flex;
   flex-direction: column;
}
.footer-container{  
    background-color: rgb(75, 71, 71); 
    display: flex;
    margin-top: 500px;
    height: 157px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.sub-container{
    height: 50px;
    background-color: black;
}
